<!-- footer-12 -->
<footer class="footer-12">
    <div class="auto-container">
        <div class="footer-widget-section">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                    <div class="footer-widget about-widget">
                        <div class="text">
                            <p>Kami bekerja dengan semangat untuk mengambil cabaran dan mencipta cabaran baharu dalam
                                pelbagai sektor</p>
                        </div>
                        <ul class="footer-social-two clearfix">
                            <li><a href="index-2.html"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="index-2.html"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="index-2.html"><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href="index-2.html"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                    <div class="footer-widget links-widget ml_80">
                        <div class="widget-title">
                            <h4>Tentang Kami</h4>
                        </div>
                        <div class="widget-content">
                            <ul class="links-list clearfix">
                                <li><a href="sejarah-penubuhan.html">Pengenalan</a></li>
                                <li><a href="logo.html">Logo</a></li>
                                <li><a href="peranan.html">Peranan</a></li>
                                <li><a href="visi.html">Visi</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                    <div class="footer-widget links-widget">
                        <div class="widget-title">
                            <h4>Pautan</h4>
                        </div>
                        <div class="widget-content">
                            <ul class="links-list clearfix">
                                <li><a href="struktur-organisasi.html">Carta Organisasi</a></li>
                                <li><a href="badan-gabungan.html">Badan Gabungan</a></li>
                                <li><a href="arkib.html">Arkib</a></li>
                                <li><a href="muat-turun.html">Borang</a>
                                <li><a href="hubungi-kami.html">Emel</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                    <div class="footer-widget contact-widget">
                        <div class="widget-title">
                            <h4>Hubungi</h4>
                        </div>
                        <div class="widget-content">
                            <ul class="info-list clearfix">
                                <li>Aras G, Kompleks Belia Dan Sukan Negeri Perak, Jalan Ghazali Jawi,31400 Ipoh, Perak
                                </li>
                                <li><a href="tel:+6055496708">+605-549 6708</a></li>
                                <li><a href="mailto:mbnperak@gmail.com">mbnperak@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="bottom-inner centred">
                <div class="copyright">
                    <p><a href="index.html" style="color: #f7da04">Majlis Belia Negeri Perak</a> &copy; 2022 Hak Cipta
                        Terpelihara</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer-12 end -->