<!-- main header -->
<header class="main-header header-style-two header-style-12">
    <!-- header-lower -->
    <div class="header-lower">
        <div class="outer-container">
            <div class="outer-box">
                <div class="logo-box">
                    <figure class="logo"><a href="index.html"><img src="assets/images/logo.png" alt=""></a></figure>
                </div>
                <div class="menu-area clearfix">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler">
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                    </div>
                    <nav class="main-menu navbar-expand-md navbar-light">
                        <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix home-menu">
                                <li class="current"><a href="index.html">Utama</a>
                                    <!-- <div class="megamenu">
                                                <div class="row clearfix">
                                                    <div class="col-lg-4 column">
                                                        <ul>
                                                            <li><h6>Home Pages</h6></li>
                                                            <li><a href="index.html">Corporate Business</a></li>
                                                            <li><a href="index-2.html">Consulting</a></li>
                                                            <li><a href="index-3.html">Finance</a></li>
                                                            <li><a href="index-4.html">Insurance</a></li>
                                                            <li><a href="index-5.html">Law Firm</a></li>
                                                            <li><a href="index-6.html">Visa Consulting</a></li>
                                                            <li><a href="index-7.html">Auto Repair</a></li>
                                                            <li><a href="index-8.html">Psychologist</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-4 column">
                                                        <ul>
                                                            <li><h6>Home Pages</h6></li>
                                                            <li><a href="index-9.html">Logistic Service</a></li>
                                                            <li><a href="index-10.html">Architecture</a></li>
                                                            <li><a href="index-11.html">Construction</a></li>
                                                            <li><a href="index-12.html">Digital Agency</a></li>
                                                            <li><a href="index-13.html">Data Hosting</a></li>
                                                            <li><a href="index-14.html">App Landing</a></li>
                                                            <li><a href="index-15.html">Startup Business</a></li>
                                                            <li><a href="index-16.html">Electricity Services</a></li>
                                                        </ul>
                                                    </div> 
                                                    <div class="col-lg-4 column">
                                                        <ul>
                                                            <li><h6>Home Pages</h6></li>
                                                            <li><a href="index-17.html">Electric Shop</a></li>
                                                            <li><a href="index-18.html">Computer Shop</a></li>
                                                        </ul>
                                                    </div>                                        
                                                </div>                                            
                                            </div> -->
                                </li>
                                <li class="dropdown"><a href="index.html">Tentang Kami</a>
                                    <div class="megamenu">
                                        <div class="row clearfix">
                                            <div class="col-lg-12 column">
                                                <ul>
                                                    <li>
                                                        <h6>Tentang Kami</h6>
                                                    </li>
                                                    <li><a href="sejarah-penubuhan.html">Pengenalan</a></li>
                                                    <li><a href="logo.html">Logo MBN</a></li>
                                                    <li><a href="peranan.html">Peranan MBN</a></li>
                                                    <li><a href="visi.html">VISI MBN</a></li>

                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown"><a href="index.html">Struktur Organisasi</a>
                                    <ul>
                                        <li><a href="struktur-organisasi.html">Carta Organisasi MBN</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="index.html">Badan Gabungan</a>
                                    <ul>
                                        <li><a href="badan-gabungan.html">Senarai Badan Gabungan</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="index.html">Arkib</a>
                                    <ul>
                                        <li><a href="arkib.html">Galeri</a></li>
                                    </ul>
                                </li>
                                <li><a href="muat-turun.html">Borang</a>

                                <li class="dropdown"><a href="index.html">Hubungi Kami</a>
                                    <ul>
                                        <li><a href="hubungi-kami.html">Maklumat Lanjut</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="nav-right">
                    <div class="search-box-outer search-toggler">
                        <i class="icon-1"></i>
                    </div>
                    <div class="nav-btn nav-toggler navSidebar-button clearfix">
                        <i class="icon-22"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--sticky Header-->
    <div class="sticky-header">
        <div class="outer-container">
            <div class="outer-box">
                <div class="logo-box">
                    <figure class="logo"><a href="index.html"><img src="assets/images/logo-14.png" alt=""></a></figure>
                </div>
                <div class="menu-area clearfix">
                    <nav class="main-menu clearfix">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav>
                </div>
                <div class="nav-right">
                    <div class="search-box-outer search-toggler">
                        <i class="icon-1"></i>
                    </div>
                    <div class="nav-btn nav-toggler navSidebar-button clearfix">
                        <i class="icon-22"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- main-header end -->