<!-- main header -->
<header class="main-header header-style-two header-style-15">
    <!-- header-lower -->
    <div class="header-lower header-shadow">
        <div class="shape">
            <div class="shape-1" style="background-image: url(assets/images/shape/shape-31.png);"></div>
            <div class="shape-2" style="background-image: url(assets/images/shape/shape-32.png);"></div>
        </div>
        <div class="outer-container">
            <div class="outer-box">
                <div class="logo-box">
                    <figure class="logo"><a href="index.html"><img src="assets/images/logo.png" alt=""></a>
                    </figure>
                </div>
                <div class="menu-area clearfix">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler">
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                    </div>
                    <nav class="main-menu navbar-expand-md navbar-light">
                        <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix home-menu">
                                <li class="dropdown"><a href="index.html">Utama</a>
                                </li>
                                <li class="dropdown"><a href="index.html">Tentang Kami</a>
                                    <div class="megamenu">
                                        <div class="row clearfix">
                                            <div class="col-lg-12 column">
                                                <ul>
                                                    <li><a href="sejarah-penubuhan.html">Pengenalan</a></li>
                                                    <li><a href="logo.html">Logo MBN</a></li>
                                                    <li><a href="peranan.html">Peranan MBN</a></li>
                                                    <li><a href="visi.html">Visi MBN</a></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown"><a href="index.html">Struktur Organisasi</a>
                                    <ul>
                                        <li><a href="struktur-organisasi.html">Carta Organisasi MBN</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="index.html">Badan Gabungan</a>
                                    <ul>
                                        <li><a href="badan-gabungan.html">Senarai Badan Gabungan</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="index.html">Arkib</a>
                                    <ul>
                                        <li><a href="arkib.html">Galeri</a></li>
                                    </ul>
                                </li>
                                <li><a href="muat-turun.html">Borang</a>
                                <li class="dropdown"><a href="index.html">Hubungi Kami</a>
                                    <ul>
                                        <li><a href="hubungi-kami.html">Maklumat Lanjut</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="nav-right">
                    <div class="search-box-outer search-toggler">
                        <i class="icon-1"></i>
                    </div>
                    <div class="nav-btn nav-toggler navSidebar-button clearfix">
                        <i class="icon-22"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--sticky Header-->
    <div class="sticky-header">
        <div class="outer-container">
            <div class="outer-box">
                <div class="logo-box">
                    <figure class="logo"><a href="index.html"><img src="assets/images/logo-10.png" alt=""></a>
                    </figure>
                </div>
                <div class="menu-area clearfix">
                    <nav class="main-menu clearfix">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav>
                </div>
                <div class="nav-right">
                    <div class="search-box-outer search-toggler">
                        <i class="icon-1"></i>
                    </div>
                    <div class="nav-btn nav-toggler navSidebar-button clearfix">
                        <i class="icon-22"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- main-header end -->


<!-- Mobile Menu  -->
<div class="mobile-menu">
    <div class="menu-backdrop"></div>
    <div class="close-btn"><i class="fas fa-times"></i></div>

    <nav class="menu-box">
        <div class="nav-logo"><a href="index.html"><img src="assets/images/mobile-logo.png" alt="" title=""></a>
        </div>
        <div class="menu-outer">
            <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
        </div>
        <div class="contact-info">
            <h4>Maklumat MBN</h4>
            <ul>
                <li>Aras G, Kompleks Belia Dan Sukan Negeri Perak, Jalan Ghazali Jawi,31400 Ipoh, Perak</li>
                <li><a href="tel:+605-549 6708">+605-549 6708</a></li>
                <li><a href="mailto:info@example.com">mbnperak@gmail.com</a></li>
            </ul>
        </div>
        <div class="social-links">
            <ul class="clearfix">
                <li><a href="index.html"><span class="fab fa-twitter"></span></a></li>
                <li><a href="index.html"><span class="fab fa-facebook-square"></span></a></li>
                <li><a href="index.html"><span class="fab fa-pinterest-p"></span></a></li>
                <li><a href="index.html"><span class="fab fa-instagram"></span></a></li>
                <li><a href="index.html"><span class="fab fa-youtube"></span></a></li>
            </ul>
        </div>
    </nav>
</div><!-- End Mobile Menu -->